:root{
    --borderSize:0px;
    --titlesFont:Verdana, Geneva, Tahoma, sans-serif;
    --buttonMargin:10px;
    --buttonHeight:40px;
    --headerHeight:10%;
    --navWidth: 250px;
    --contentPadding: 10px;
    --circleDim: 300px;
}
button, input[type=submit]{
    position: relative;
    border:2px solid black;
    background-color: white;
    font-size: large;
    text-align: center;
    width: 90%;
    height: var(--buttonHeight);
}
button:hover, input[type=submit]:hover{
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

html{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

body{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    margin: 0;
}
nav{
    position:relative;
    top:0;
    width: var(--navWidth);
    height: 90%;
    border-right: var(--borderSize) solid red;
    margin:0;
    background-color: rgb(243, 108, 160);
}
nav button, nav input[type=submit]{
    margin-top: var(--buttonMargin);
    font-family: var(--titlesFont);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
nav #formLettera{
    position:relative;
    margin-top: var(--buttonMargin);
    width:90%;
    height: var(--buttonHeight);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
nav #formLettera input[type=submit], nav #formLettera input[type=text]{
    margin-top: 0;
}
nav #formLettera input[type=text]{
    left:0px;
    width: 14%;
    height: calc(var(--buttonHeight) - 7px);
    font-size: large;
    -ms-transform: translateX(0);
    transform: translateX(0);
}
nav #formLettera input[type=submit]{
    position: absolute;
    left: 20%;
    width: 80%;
    top:0px;
    -ms-transform: translateX(0);
    transform: translateX(0);
}
nav #soluzione{
    position:absolute;
    bottom:10px;
}
nav #input_soluzione{
    position:absolute;
    bottom: calc(var(--buttonHeight) + 20px);
}
nav input[type=text]{
    position: relative;
    width:85%;
    margin-top: 10px;
    height: calc(var(--buttonHeight) - 10px);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: white;
    text-align: center;
}

#content{
    position: absolute;
    width: calc(100% - var(--navWidth) - var(--contentPadding) * 2);
    height: calc(100% - var(--headerHeight) - var(--contentPadding) * 2);
    top: var(--headerHeight);
    left: var(--navWidth);
    font-family: var(--titlesFont);
    padding: var(--contentPadding);
    margin:0;
    background-color: rgb(247, 159, 217);
}
#content h2{
    position: relative;
    width: 100%;
    text-align: center;
}
#content #giocatori input[type=text]{
    display: inline;
}
#content #divValoreRuota{
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
}
#content #tabellone{
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: fit-content;
}

header{
    position:relative;
    top:0;
    height: var(--headerHeight);
    width: 100%;
    border-bottom: var(--borderSize) solid red;
    margin:0;
    background-color: rgb(245, 6, 97);
}

header h1{
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    font-family: var(--titlesFont);
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontal-center{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#pin {
    height: 0;
    width: 0;
    position: relative;
    left: calc(50% - 20px);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-bottom: 0px;
    border: 20px solid;
    border-color: transparent transparent black;
    transform: rotate(180deg);
  }
  #circle {
    position: relative;
    width: var(--circleDim);
    height: var(--circleDim);
    background: url(./Ruota.jpg)
      center center;
    background-size: calc(var(--circleDim) * 1.5);
    transition: transform ease-in-out 10s;
    transform: rotate(0deg);
    border-radius: 100%;
    font-size: 100px;
    line-height: 100px;
    vertical-align: top;
    text-align: center;
    box-shadow: 0px 0px 20px 5px #333333;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  #risposta {
    display: none;
  }
  .cella {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 3px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
  }
  .cella.consonante {
    background: green;
    color: white;
  }
  .cella.vocale{
    background: rgb(95, 139, 206);
    color: white;
  }
  #lettera {
    width: 15px;
  }
  
  .punteggio {
    text-align: center;
    box-shadow: 1px 1px 5px #333;
    margin-right: 10px;
  }